.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 0.6rem;
  font-weight: 700;
}
.red {
  background-color: lightcoral;
}
.green {
  background-color: ForestGreen;
}
